
<head>
    
    {% load static %}
        <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
                <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
                <!-- Compiled and minified JavaScript for Materialize CSS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    
</head>
<body>
{% block content %}

<nav>
    <div class="nav-wrapper">
    <a href="https://internshala.com/" target="_blank" class="brand-logo">INTERNSHALA</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% include 'main/includes/navbaritems.html' %}
        </ul>
    </div>
</nav>    
{% include 'main/includes/messaging.html' %}
<h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    {% if user.is_student %}
        <p>as a: Student</p>
    {% else %}
        <p>as a: Employer</p>
    {% endif %}    
    
{% endblock %}
<div class="show_intership_apply" style="width: 90%; height:200px; background-color:pink; margin-left: auto; margin-right: auto;">
    <h5 align=center>Applied Internship</h5>



</div>
</body>
