{% extends 'main/header.html' %}

<head>
    <style>
        .profile{
            border: 5px;
            background-color: aquamarine;
            margin-left: auto;
            margin-right: auto;
            width:80%;
            background-color:red;   

        }

    </style>
</head>
<body>
{% block content %}
<div class="profile" style="border:5px;">
    <div class="name"><h3>{{user.first_name}}{{user.last_name}}</h3></div>
    EMAIL: {{user.email}}
    <div class="name">USERNAME: {{user.username}}
   
</div>

{% endblock %}
</body>