{% extends 'main/header.html' %}
<h1>student profile</h1>
{% block content %}
  <h1>Products</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start_date</th>
        <th>Duration</th>
        <th>Stipend</th>
        <th>Category</th>
        <th>location</th>

      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.Start_date}}</td>
          <td>{{ product.Duration }}</td>
          <td>{{ product.Stipend }}</td>
          <td>{{ product.category.name }}</td>
          <td>{{ product.location.name }}</td>

        </tr>
        {% if forloop.last %}
          <tr>
            <td colspan="6">
              <a href="/products/edit_all/pro">Edit all products</a>
            </td>
          </tr>
        {% endif %}
      {% empty %}
        <tr>
          <td colspan="6">No product</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
