{% extends 'main/header.html' %}

{% block content %}
<div class="container">
        <form method="POST">
            {% csrf_token %}
            <p><label for="id_old_password">Old password:</label> 
            <input type="password" name="old_password" autofocus="" required="" id="id_old_password"></p>
            <p><label for="id_new_password1">New password:</label> 
            <input type="password" name="new_password1" required="" id="id_new_password1"> <span class="helptext"></span></p>
            <p><label for="id_new_password2">Retype the New password:</label> 
            <input type="password" name="new_password2" required="" id="id_new_password2"></p>
            <button style="background-color:#0356fc; color:white" type="submit">Save</button>
            </form>
    <br>
</div>

{% endblock %}
