{% extends 'main/header.html' %}

{% block content %}
{% load static %}
<h2 style="color: cornflowerblue">&nbsp&nbsp&nbspEdit Profile</h2>
<hr>

{% if user.is_student %}
<div style="display: inline-block;">
   
        <div class="row">
            <div class="col-md-6">
            {% if student.image %}
            <img src="/media/{{student.image}}" style="width: 60%; height:50%; margin-left:10vh; margin-right: 10vh; border-radius: 5vh">
            {% else %}
            <img src="{% static 'main/student.png' %}" style="width: 60%; height:50%; margin-left:10vh; margin-right: 10vh; border-radius: 5vh">
            {% endif %}
            </div>

            <div class="col-md-6">
         <form method="post" class="form-horizontal" enctype="multipart/form-data" role="form" style="padding-top:2%">
            {% csrf_token %}  
            
        <div class="form-group col-md-7">
            <label for="id_email">Email address:</label> 
            <input class="form-control" type="email" name="email" value="{{user.email}}" maxlength="254" id="id_email" readonly>
        </div>    
            
        <div class="form-group col-md-7">
            <label for="id_first_name">First name:</label> 
            <input class="form-control" type="text" name="first_name" value="{{user.first_name}}" maxlength="30" id="id_first_name" readonly>
        </div>    

        <div class="form-group col-md-7">    
            <label for="id_last_name">Last name:</label> 
            <input class="form-control" type="text" name="last_name" value="{{user.last_name}}" maxlength="150" id="id_last_name" readonly>
        </div>   

        <div class="form-group col-md-7">    
            <label for="id_phone_no">Phone Number:</label> 
            <input class="form-control" type="tel" name="phone_no" value="{{student.phone_no}}" maxlength="150" id="id_phone_no">
        </div>   

        <div class="form-group col-md-7">
        <label for="id_college_name">College name:</label> 
        <input class="form-control" type="text" name="college_name" value="{{student.college_name}}" maxlength="200" required="" id="id_college_name"></p>
        </div>

        <div class="form-group col-md-7">
        <label for="id_basic_skills">Basic skills:</label> 
            <textarea class="form-control" name="basic_skills" cols="40" rows="10" required="" id="id_basic_skills">{{student.basic_skills}}</textarea>
        </div>

        <div class="form-group col-md-7">
            <label for="id_image">Change Image:</label>
            <input class="form-control" type="file" name="image" accept="image/*" id="id_image"></p>
        </div>

        <div class="form-group col-md-7">
        <label for="id_city">City:</label> 
            <input class="form-control" type="text" name="city" value="{{student.city}}" maxlength="200" required="" id="id_city">
        </div>
        <div class="form-group col-md-7">    
        <label for="id_year_of_study">Year of study:</label> 
            
        <select class="form-control" name="year_of_study" required="" id="id_year_of_study" value="{{student.year_of_study}}">

            <option value="{{user.year_of_study}}">{{user.year_of_study}}</option>

            <option value="1">1st</option>
          
            <option value="2">2nd</option>
          
            <option value="3">3rd</option>
          
            <option value="4">4th</option>
          
        </select>
        </div>
         <div class="form-group col-md-7">
            <button style="background-color:#0356fc;  color:white" class="btn btn-outline-info" type="submit">Update</button> 
            <a href="/student_profile/" style="background-color:red; color:white" class="btn btn-outline-info">Cancel</a>
        </div>     
        </div>
        </form>
    </div>
</div>


{% elif user.is_company %}
<div class="container" style="display: inline-block;">

    <div class="row">
        
        <div class="col-md-6">
            {% if company.image %}
            <img src="/media/{{company.image}}" style="width: 60%; height:50%; margin-left:10vh; margin-right: 10vh; border-radius: 5vh">
            {% else %}
            <img src="{% static 'main/student.png' %}" style="width: 50%; height:40%; border-radius: 5vh">
            {% endif %}
        </div>

        <div class="col-md-6">
            <form method="post" class="form-horizontal" enctype="multipart/form-data" role="form" style="padding-top:2%">
                {% csrf_token %}     
            
                <div class="form-group col-md-7">
                <label for="id_email">Email address:</label> 
                <input class="form-control" type="email" name="email" value="{{user.email}}" maxlength="254" id="id_email" readonly>
            </div>    
            
            <div class="form-group col-md-7">
                <label for="id_head_office_location">Head Office Location:</label> 
                <input class="form-control" type="text" name="head_office_location" value="{{company.head_office_location}}" maxlength="200" required="" id="id_head_office_location">
            </div>

            <div class="form-group col-md-7">
                <label for="id_image">Change Image:</label>
                <input class="form-control" type="file" name="image" accept="image/*" id="id_image"></p>
            </div>
            
            <div class="form-group col-md-7">
                <button style="background-color:#0356fc;  color:white" class="btn btn-outline-info" type="submit">Update</button> 
                <a href="/employer_profile/" style="background-color:red; color:white" class="btn btn-outline-info">Cancel</a>
            </div>     
            </form>
        </div>
        
    </div>
{% endif %}


{% endblock %}