<!DOCTYPE HTML>
<html>
<head>
    <title>Job Status </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="#">
</head>
<body>
    <!-- <nav class="navbar navbar-light navbar-expand-lg static-top" style="background-color:#DCDCDC;">
        <a class="navbar-brand" href="#">
            <span id="logo">
             <img width="200px" height="35px" src="internshala_logo.svg" alt="" >
            </span>
        </a>
        <div class="btn-group" style="margin-left:73% ">
                <button type="button" class="btn "> PROFILE </button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item"> logout </a>
                </div>
        </div>  
                  
    </nav> -->
    <nav class="navbar navbar-light" style="background-color:#DCDCDC;">
        <a class="navbar-brand" href="HomePage.html"> 
         <img width="40%" height="40%" src="internshala_logo.svg" alt="" style="margin-left: 8px;">
         </a>
         <div class="btn-group">
             <button type="button" class="btn ">My Profile </button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
               <a href="#" class="dropdown-item"> Name </a>
                <a href="#" class="dropdown-item"> email id </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item"> logout </a>
               </div>
          </div>
   
     </nav>
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-light mb-3 border-secondary mb-3" style="margin-left:5% ; margin-top: 5%;margin-right: 3%">
                <div class="card-body">
                <h5 class="card-title">Username</h5>
                <h6 class="card-subtitle">Category: Web Development </h6> 
                <p class="card-text">Location: Banglore </p>               
                <p class="card-text">Education: Ajay Kumar Garg Engineering College </p>
                <p class="card-text"> Skills: Competative Programming </p>
                <a href="#" class="btn btn-primary">Accept</a>
                <a href="#" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card bg-light mb-3 border-secondary mb-3" style="margin-left:5%;margin-top: 5%;margin-right: 3%">
                <div class="card-body">
                <h5 class="card-title">Username</h5>
                <h6 class="card-subtitle">Category: Web Development </h6> 
                <p class="card-text">Location: Banglore </p>               
                <p class="card-text">Education: Ajay Kumar Garg Engineering College </p>
                <p class="card-text"> Skills: Competative Programming </p>
                <a href="#" class="btn btn-primary">Accept</a>
                <a href="#" class="btn btn-default">Cancel</a>
                </div>
             </div>
        </div>

        <div class="col-sm-4">
           <div class="card bg-light mb-3 border-secondary mb-3" style="margin-left:5%; margin-top: 5%; margin-right: 3%">
                        <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <h6 class="card-subtitle">Category: Web Development </h6> 
                        <p class="card-text">Location: Banglore </p>               
                        <p class="card-text">Education: Ajay Kumar Garg Engineering College </p>
                        <p class="card-text"> Skills: Competative Programming </p>
                        <a href="#" class="btn btn-primary">Accept</a>
                        <a href="#" class="btn btn-default">Cancel</a>
                        </div>
            </div>
        </div> 
    </div>   


        <!-- <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> -->

    </div>
    </body>
    </html>
