<!DOCTYPE HTML>
<html>
<head>
    <title> Employer SignUp </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="std.css">
</head>
<body>
        <nav class="navbar navbar-light navbar-expand-lg static-top" style="background-color:#DCDCDC;">
          <div class="web-logo">
            <a class="navbar-brand" href="#">
              <span id="logo">
               <img width="200px" height="35px" src="internshala_logo.svg" alt="" >
              </span>
            </a>
          </div>
           <!-- <div class="login-button">
           <button class="btn btn-sucess" id="login-btn" style="background:white; color:rgb(165, 215, 238)134, 134, 148);"> LOGIN </button>
           </div> -->
       </nav>

       <div class="container ">
          <h3 id="signup-head"> Hire Interns In 3 Steps </h3>
          <hr>
          <div class="row text-center">
            <div class="col-sm-4 ">
              <!-- <div class="signup-text-center"> -->
                    <img src="emp-profile/Sign_up_icon.svg" width="50%" height="50%" > 
                    <h4> SIGN UP </h4>
                    <h5 style="font-size: 15px;color:darkgray">Get started by creating your account</h5>
                <!-- </div> -->
            </div>
            <div class="col-sm-4 ">
                <!-- <div class="signup-text-center"> -->
                  <!-- style="margin-left:25%" -->
                    <img src="emp-profile/Post-icon.svg" width="45%" height="45%"  > 
                    <div class="icon-text" style="padding-top: 12px">
                    <h4> POST </h4>
                    <h5 style="font-size: 15px;color:darkgray">Post internships for any profile and location</h5>
                    </div>
                <!-- </div> -->
            </div>
            <div class="col-sm-4 ">
                <!-- <div class="signup-text-center"> -->
                    <!-- style="margin-left:50%" -->
                    
                    <img src="emp-profile/Hire-icon.svg" width="50%" height="50%" style="padding-bottom: 5px" > 
                    <div class="icon-text" >
                     <h4> HIRE THE BEST </h4>
                     <h5 style="font-size: 15px;color:darkgray ">Screen and hire at your fingertips</h5>
                    </div>
                <!-- </div> -->
            </div>

          </div>     
          <!-- div close row-1  -->
          <div class="row">
            <div class="col-md-6">
                    <h4> Your Search Completes here for Best Interns </h4>
                    <hr>
                    <!-- <h6>More than 50 brands trust Internshala for hiring interns.</h6>
                    <h6>Find interns across 10+ profiles round the year.And it's free!</h6> -->
               <img src="emp-profile/emp-sign.svg" class="img-responsive" style="float:left; margin-bottom:60px;" width="65%" height="65%" > 
                
            </div>   
            <div class="col-md-6 Sign Up" style="padding-left: 10%;">
              <h4 style="padding-left: 10px;"> Start hiring now! </h4>

              <form class="form-horizontal" role="form">
                  <div class="form-group col-lg-8">
                    <label class="">Official Email ID:</label>
                    <input class="form-control" type="text" placeholder="name@email.com">
                    
                  </div>
                  <div class="form-group col-lg-8">
                      <label>Password:</label>
                      <input class="form-control" type="text" placeholder="minimum 6 character">
                      
                  </div>
                  <div class="form-group col-lg-8">
                      <label>Username:</label>
                      <input class="form-control" type="text" placeholder="">
                  </div>

                  <div class="form-group col-lg-8">
                  <input type="button" class="btn btn-primary" style="align-content: center;" value="Sign Up">
                  </div>
              </form>

            </div>

          </div>
           <!-- div close row-2 -->
        </div>
       </body>
       </html>
