{% load static %}
<!DOCTYPE HTML>
<html>
<head style="width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; ">
    <title> Employer Profile </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/std.css' %}">
</head>
<body style="width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; ">
    {% if user.is_employer %}
        <nav class="navbar navbar-light" style="background-color:#DCDCDC;">
               <a class="navbar-brand" href="/"> 
                <img width="150px" height="25px" src="{% static 'main/internshala_logo.svg' %}" alt="">
                </a>
                    <div class="btn-group">
                        <button type="button" class="btn "> MY PROFILE </button>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="/employer_profile" class="dropdown-item"> {{user.username}} </a><hr>
                            <a href="/profile/edit" class="dropdown-item"> Edit Profile </a>
                            <a href="/change-password" class="dropdown-item"> Change Password </a>
                            <a href="/internship/list" class="dropdown-item">Posted internships</a>
                            <a href="/interns_applied" class="dropdown-item">Interns Applied</a>
                            <a href="/internship/edit_all" class="dropdown-item">Edit all internship</a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item"> Logout </a>
                        </div>
                    </div>  
                              
        </nav>
        
        <div class="row">
          <div class="col-md-7">
           <object class="dash-img" type="image/svg+xml" data="{% static 'main/emp-profile/EmployerProfile1.svg' %}">
           </object>
          </div>
          <div class="col-md-5 personal-info" style="padding-top:2%">
            <h3 id="profile-head">Employer info</h3>
            <hr>
            <img src="/media/{{user.image}}" style="width: 50%; height:20%"><hr>
            <h4> Company Name: </h4>
             <h5> {{user.username}} </h5><hr>

            <h4> Email: </h4> 
            <h5> {{user.email}} </h5><hr>

            <h4> Additional Details </h4> 
            <h5> ............... </h5><hr>
          </div>
        </div>
        <div clas="apply-btn" style="margin-left: 45%">
          <button class="button"><span><a href="/post_internship" style="color: black">Post an internship</a></span></button>
        </div>
        {% elif user.is_student %}
        <h1 style="text-align: center;color: crimson">XX--You can't access this page--XX</h1>
        <h2 style="text-align:center">Click on <a style="color:crimson" href="/student_profile">this</a> to go to back to student's profile</h2>

        {% endif %}        
    </body>
</html>
