{% extends 'main/header.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
    </form>
    
<div class="row">
   
    {% for j in jobs %}
        <div class="col s12 m6">
            <div class="card white darken-1 hoverable">
            <div class="card-content black-text">
                <span class="card-title">{{j.job_title}}</span>
                <p style="font-size: 70%">{{j.job_published}}</p> 
                <br><br>
                <p>{{j.job_content|safe}}</p>
            </div>
            </div>
        </div>
    {% endfor %} 
    {% for i in post_jobs %}
        <span >{{i.Employer_company_name}}</span>
        <p>{{i.Stipend}}</p> 
              
    {% endfor %} 
    
    {% for post in posts %}
            <h1>{{ post.post }}</h1>
            <p>Posted by {{ post.Employer_company_name }} on {{ post.Stipend }}</p>
    {% endfor %} 

{% endblock %}


