{% extends 'main/header.html' %}

{% block content %}

<div class="row">
    {% for j in jobs %}
        <div class="col s12 m6">
            <div class="card white darken-1 hoverable">
            <div class="card-content black-text">
                <span class="card-title">{{j.job_title}}</span>
                <p style="font-size: 70%">{{j.job_published}}</p> 
                <br><br>
                <p>{{j.job_content|safe}}</p>
            </div>
            </div>
        </div>
        {% endfor %}



                                              <!-- Mahima's Code-->
        <!-- {% for k in postjob %}
        <div class="col s12 m6">
            <div class="card white darken-1 hoverable">
            <div class="card-content black-text">
                <span class="card-title">{{k.company_name}}</span>
                <p style="font-size: 70%">{{k.about}}</p> 
                <br><br>
                <p>{k.location}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
 -->


 

</div>
{% endblock %}


