{% extends 'main/header.html' %}


{% block content %}
{% if user.is_company %}
<div class="row">
<h1 style="text-align: center; color: cornflowerblue">Interns Applied for this company</h1><hr>

<div class="row" style="padding-left: 2%;padding-right: 2%;padding-top: 0%;padding-bottom: 2%;">

{% for i in applicant %}
{% ifequal False i.is_accept %}
{% ifequal False i.is_reject %}
            <div class="col-sm-4" style="padding-left: 2%;padding-right: 2%;padding-top: 2%;padding-bottom: 2%;"> 
                <div class="card bg-light mb-3 border-secondary mb-3" style="margin-top:40px">
                    <div class="card-body">
                    <h1 class="card-title" style="font-family: montserrat">{{i.intern.user.first_name}} {{i.intern.user.last_name}}</h1>
                    <h3 class="card-subtitle">{{i.intern.user.email}}</h3>              
                    <p class="card-text">Applied for: {{i.job.job_title}}</p>
                    <a href="/application_detail/{{i.id}}" class="btn btn-primary">Details</a>
                </div>
            </div>
    </div>
    {% endifequal %}    
    {% endifequal %}
    {% endfor %}

        {% elif user.is_student %}
        <h1 style="text-align: center;color: crimson">XX--You can't access this page--XX</h1>
        <h2 style="text-align:center">Click on <a style="color:crimson" href="/student_profile">this</a> to go to back to student's profile</h2>

        {% endif %}  



{% endblock %}
