{% block content %}
  <h1>Products</h1>
  <p>
    <a href="/internship/new/new">New product</a>
    <a href="/internship/categories/new">New category</a>
    <a href="/logout">Log out</a>
  </p>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start_date</th>
        <th>Duration</th>
        <th>Stipend</th>
        <th>Category</th>
        <th>location</th>
      </tr>
    </thead>

    <tbody>
      {% for product in internship %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.Start_date}}</td>
          <td>{{ product.Duration }}</td>
          <td>{{ product.Stipend }}</td>
          <td>{{ product.category.name }}</td>
          <td>{{ product.location.name }}</td>

        </tr>
        {% if forloop.last %}
          <tr>
            <td colspan="6">
              <a href="/internship/edit_all/pro">Edit all products</a>
            </td>
          </tr>
        {% endif %}
      {% empty %}
        <tr>
          <td colspan="6">No product</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
