<!--Template to show the Internships posted by the Employer-->



{% extends 'main/header.html' %}
{% block content %}

<h2 style="color: cornflowerblue">&nbsp&nbsp&nbsp&nbspInternships For You</h2><hr>
{% if user.is_authenticated %}
<h6></h6>
{% else%}
<h3 style="text-align: center;color: red;"><a href="/login">Login</a> to view details of the Internships</h3>
{% endif %}
<div class="row" style="padding-left: 2%;padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">
    
{% for j in jobs %}

            <div class="col-sm-4"style="padding-left: 2%;padding-right: 2%; padding-top: 2%;padding-bottom: 2%;"> 
               <div class="card bg-light mb-3 border-secondary mb-3">
                   <div class="card-body">
                   <h2 class="card-title" style="font-family: nexa;font-size:7vh;">{{j.company.user.name}}</h2>
                   <h3 style="color: rgb(2, 41, 114)" class="card-subtitle">{{j.job_title}}</h3> 
                   <h4 style="color: rgb(0, 55, 158)" class="card-subtitle">{{j.location}}</h4>  
                   {% if user.is_authenticated %}
                   <a href="/internship_detail/{{j.id}}">
                   <button style="background-color:#1245aa; color:white" class="btn btn-primary" type="submit">
                    View Details</button>
                   </a>
                   {% endif %}           
                   </div>
             </div>
         </div>

         
{% endfor %}

{% endblock %}
