<!--Template to show the Internships posted by the Employer-->



{% extends 'main/header.html' %}
{% block content %}


<div class="row">

    {% for j in jobs %}
             
    <div class="card text-white bg-warning" >
        <div class="card-header">
            <h1>{{j.user}}</h1>
            <!-- <h1>Job id: {{j.id}}</h1> -->
        
        <h4>{{j.job_title}}</h4>
        <h4 style="font-size: 80%">{{j.job_published}}</h4>
        <br>
        <!--<h4>Location: {{j.location}}</h4>
        <br>
        <h4>Duration: {{j.job_duration}}</h4>
        <h4>Stipend: {{j.job_stipend|safe}}</h4> 
        <br>
        <h4>Details: {{j.job_content|safe}}</h4>
        <br>>-->
        <h3><a href="/job_detail/{{j.id}}" style="color: black">job detail!</a></h3>
    
            </div>
    </div>
        <!-- <div class="col s12 m6" >
            <div class="card white darken-1 hoverable">
            <div class="card-content black-text" style="background-color: #c2c0bc">
                <span class="card-title">{{j.username}}</span>
                <p style="font-size: 100%">{{j.job_title}}</p>
                <p style="font-size: 80%">{{j.job_published}}</p>
                <br>
                <p>Location: {{j.location}}</p>
                <br>
                <p>Duration: {{j.job_duration}}</p>
                <p>Stipend: {{j.job_stipend|safe}}</p> 
                <br>
                <p>Details: {{j.job_content|safe}}</p>
                <br>
                <h3><a href="/apply" style="color: black">Apply</a></h3>
            </div>
            </div>
        </div> -->


         
    {% endfor %}



                                              <!-- Mahima's Code-->
        <!-- {% for k in postjob %}
        <div class="col s12 m6">
            <div class="card white darken-1 hoverable">
            <div class="card-content black-text">
                <span class="card-title">{{k.company_name}}</span>
                <p style="font-size: 70%">{{k.about}}</p> 
                <br><br>
                <p>{k.location}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
 -->




</div>

{% endblock %}
