<!--Template to show the Internships posted by the Employer-->



{% extends 'main/header.html' %}
{% block content %}


<div class="row">

    {% for j in jobs %}
             
    <div class="card text-white bg-warning" >
        <div class="card-header">
        <h1>{{j.user}}</h1>
        <h4>{{j.job_title}}</h4>
        <h4 style="font-size: 80%">{{j.job_published}}</h4>
        <br>
        <h3><a href="/job_detail/{{j.id}}" style="color: black">View Detail!</a></h3>
    
            </div>
    </div>
         
    {% endfor %}

{% endblock %}
