                                        <!--Template for Login Page-->

{% extends 'main/header.html' %}

{% block content %}

    <div class="container">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <button style="background-color:#0356fc; color:white" class="btn btn-outline-info" type="submit">Login</button>
        </form>
        Don't have an account?<a href="/register_as_employer"><strong>Register as Employer!</a> or <a href="/register_as_employer"><strong>Register as Student!</a></strong>
    </div>
{% endblock %}