{% extends 'main/header.html' %}
<h1>student profile</h1>
{% block content %}
{% if user.is_company %}

  <h2 style="color: cornflowerblue">&nbsp&nbsp&nbsp&nbspPosted Internships!</h2><hr>

  <div>
    {% for message in messages %}
       <div class="message">
       <h3 style="text-align: center; color:slateblue;">{{ message }}</h3>
       <a href="#" class="del-msg"></a>
       </div>
    {% endfor %}
</div>

<div class="row" style="padding-left: 2%;padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">
{% for product in internships %}
             
      <div class="col-sm-4" style="padding-left: 2%;padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">
          <div class="card bg-light mb-3 border-secondary mb-3">
              <div class="card-body">
              <h1 class="card-title" style="font-family: montserrat">{{product.role}}</h1>
              <h3 class="card-subtitle">Location:  {{product.location}}</h3>              
              <h3 class="card-text">Stipend: {{product.stipend|safe}} INR</h3>
              <h3 class="card-text">Description: {{product.content|safe}}</h3>
              <a href="/edit_internship/{{product.id}}/" class="btn btn-primary">Edit</a> <a style="background-color:#fc0303; color:white" href="/delete_internship/{{product.id}}/" class = "btn btn-primary">Delete</a>
              </div>
           </div>
      </div>     
          {% endfor %}
</div>

{% elif user.is_student %}
<h1 style="text-align: center;color: crimson">XX--You can't access this page--XX</h1>
<h2 style="text-align:center">Click on <a style="color:crimson" href="/student_profile">this</a> to go to back to student's profile</h2>
{% endif %}  
<script>
  $(document).ready(function() {
      // messages timeout for 10 sec 
      setTimeout(function() {
          $('.message').fadeOut('slow');
      }, 1500); // <-- time in milliseconds, 1000 =  1 sec

      // delete message
      $('.del-msg').live('click',function(){
          $('.del-msg').parent().attr('style', 'display:none;');
      })
  });
</script> 
{% endblock %}