<!DOCTYPE HTML>
<html>
<head>
    <title> Student Profile Edit </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="std.css">
</head>
<body>
        <nav class="navbar navbar-light navbar-expand-lg static-top" style="background-color:#DCDCDC;">
            <a class="navbar-brand" href="#">
              <span id="logo">
               <img width="200px" height="35px" src="internshala_logo.svg" alt="" >
              </span>
            </a>
              
       </nav>
        <div class="container">
                <h2 id="std-head">Edit Profile</h2>
                  <hr>
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-3">
                    <div class="text-center">
                      <img src="std-profile/student.png" width="65%" height="65%" > 
                    </div>
                  </div>
                  
                  
                  <div class="col-md-9 personal-info">              
                    <h3>Personal info</h3>
                    
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label class="col-lg-3 control-label">First name:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" placeholder="John">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Last name:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" placeholder="Bishop">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Location:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" value="">
                        </div>
                      </div>
                      <div class="form-group">
                            <label class="col-lg-3 control-label">Education Qualification:</label>
                            <div class="col-lg-8 ">
                              <input class="form-control-1" type="text" value="">
                              <a href="#"> +add qualification </a>
                            </div>
                          </div>
                       <div class="form-group">
                                <label class="col-lg-3 control-label"> Skills/Interest:</label>
                                <div class="col-lg-8 ">
                                  <input class="form-control" type="text" value="">
                                  <a href="#"> +add skills </a>
                                </div>
                        </div>
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" value="name@gmail.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">Username:</label>
                        <div class="col-md-8">
                          <input class="form-control" type="text" value="janeuser">
                        </div>
                      </div>
                      <!-- <div class="form-group">
                        <label class="col-md-3 control-label">Password:</label>
                        <div class="col-md-8">
                          <input class="form-control" type="password" value="11111122333">
                        </div>
                      </div> -->
                      <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                          <input type="button" class="btn btn-primary" value="Save Changes">
                          <span></span>
                          <input type="reset" class="btn btn-default" value="Cancel">
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
            </div>
      
</body>
</html>