{% load static %}
<!DOCTYPE HTML>
<html style="width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; ">
<head>
    <title> Student Profile </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/std.css' %}">
</head>
<body style="width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; ">
        <nav class="navbar navbar-light" style="background-color:#DCDCDC;">
               <a class="navbar-brand" href="https://internshala.com/"> 
                <img width="150px" height="25px" src="{% static 'main/internshala_logo.svg' %}" alt="">
                </a>
                    <div class="btn-group">
                        <button type="button" class="btn "> MY PROFILE </button>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="/myaplication" class="dropdown-item"> My application</a>
                            <a href="/change-password" class="dropdown-item"> change password </a>
                            <a href="/profile/edit" class="dropdown-item"> Edit Profile </a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item">Logout</a>
                            <!-- <a href="#" class="dropdown-item"> logout </a> -->
                        </div>
                    </div>  
                    <!-- <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Reports</a>
                                <a href="#" class="dropdown-item">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a href="#"class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul> -->
          
        </nav>
        <!-- <img src="std-profile/StudentProfile.svg" class="rounded float-left" alt="..."> -->
        <div class="row">
          <div class="col-md-7">
           <object class="dash-img" type="image/svg+xml" data="{% static 'main/std-profile/StudentProfile.svg' %}">
           </object>
          </div>
          <div class="col-md-5 personal-info" style="padding-top:3%">
            <h3 id="profile-head">Personal info</h3>
            <hr>
            <h4><u> Username: </u></h4> <h5>{{user.username}} </h5>
            <h4><u> College: </u></h4> 
            <h4><u> Skills: </u></h4> 
            <h5>  </h5>  
          </div>
        </div>
        <div clas="apply-btn" style="margin-left: 45%">
          <button class="button"><span><a href="/jobs_list">Apply for Internship</a></span></button>
        </div>
    </body>
</html>
