{% load static %}


<!DOCTYPE HTML>
<html style="width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; ">
<head>
    <title> Student Profile </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/std.css' %}">
</head>
<body style="width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden; ">
{% if user.is_student %}
        <nav class="navbar navbar-light" style="background-color:#DCDCDC;">
               <a class="navbar-brand" href="https://internshala.com/"> 
                <img width="200px" height="35px" src="{% static 'main/Logo.svg' %}" alt="">
                </a>
                    <div class="btn-group">
                        <button type="button" class="btn "> MY PROFILE </button>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="/student_profile" class="dropdown-item"> {{user.first_name}} </a><hr>
                            <!-- <a href="/student_profile" class="dropdown-item"> {{user.email}} </a><hr> -->
                            <a href="/myapplication" class="dropdown-item">My Applications</a>
                            <a href="/profile/edit_student" class="dropdown-item"> Edit Profile </a>
                            <a href="/change-password" class="dropdown-item"> Change Password </a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item">Logout</a>
                        </div>
                    </div>  
        </nav>
        
        <div>
            {% for message in messages %}
               <div class="message">
               <h4 style="text-align: center; color:slateblue;">{{ message }}</h4>
               <a href="#" class="del-msg"></a>
               </div>
            {% endfor %}
        </div>

        <div class="row">
          <div class="col-md-7">
           <object class="dash-img" type="image/svg+xml" data="{% static 'main/StudentProfile2.svg' %}">
           </object>
          </div>
          <div class="col-md-5 personal-info" style="padding-top:3%">
            
            <h2 id="profile-head"style="color: cornflowerblue">Personal info</h2>
            
            <hr>
            {% if user.image %}
            <img src="/media/{{user.image}}" style="width: 50%; height:30%; border-radius: 25px"">
            {% else %}
            <img src="{% static 'main/student.png' %}" style="width: 50%; height:30%; border-radius: 25px">
            {% endif %}
            <hr>
            
            <h4>Name:</h4>
            <h5>{{user.first_name}} {{user.last_name}} </h5>
            <hr>

            <h4>Email:</h4>
            <h5>{{user.email}}</h5>
            <hr>

            <h4>College:</h4>
            <h5>{{user.college_name}}</h5><hr>
            
            {% if user.city %}
            <h4>City:</h4>
            <h5> {{user.city}}</h5><hr>
            {% endif %}
             
            {% if user.basic_skills %}
            <h4>Skills:</h4>
            <h5>{{user.basic_skills}}</h5><hr> 
            {% endif %}
           </div>
        </div>

        <div clas="apply-btn" style="margin-left: 45%;padding-top: 2%">
          <button class="button"><span><a href="/filter_internship" style="color: black">Apply for Internship</a></span></button>
        </div>

        {% elif user.is_employer %}
        <h1 style="text-align: center;color: crimson">XX--You can't access this page--XX</h1>
        <h2 style="text-align:center">Click on <a style="color:crimson" href="/employer_profile">this</a> to go to back to employer's profile</h2>
        
        {% endif%}

    </body>
    <script>
        $(document).ready(function() {
            // messages timeout for 10 sec 
            setTimeout(function() {
                $('.message').fadeOut('slow');
            }, 1500); // <-- time in milliseconds, 1000 =  1 sec
    
            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
    </script>
</html>
