{% extends 'main/header.html' %}

<html>
<head>
    <title>products</title>
</head>
<body>
    <p>student profile</p>
    {% if Products %}
    <ol>
        {% for product in Products %}
        <li>
                {{ product.name }}
                {{ product.Start_date}}
                {{ product.Duration }}
                {{ product.Stipend }}
                {{ product.category.name }}
                {{ product.location.name }}
                {{ product.user }}
            
        </li>
        {% endfor %}   

    </ol>
    {% endif %}
</body>


</html>
