<!--Code of location page-->


{% extends 'main/header.html' %}

{% block content %}
<br>
<div class="container">
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="submit">
</form>
    <!-- <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Sign Up</button>
</form> -->

    If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.
</div>


                                            <!--Mahima's Code-->

<!-- <div class="differ">
    <h6>enter the student/company</h6>
    <input type="text">
    <button type="submit" aria-placeholder="enter the student/company"">save</button>
</div> -->


{% endblock %}

