<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title> Main Page </title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="jquery.fittext.js"></script>
    
      </head>
    <body>
        <nav class="navbar navbar navbar-light navbar-expand-lg static-top" style="background-color:#DCDCDC">
                <div class="container-fluid"> 
                        <div class="navbar-header"> 
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
                            <span class="icon-bar" style="background-color:rgb(142, 199, 248)"></span>
                            <span class="icon-bar" style="background-color:rgb(142, 199, 248)"></span>
                            <span class="icon-bar" style="background-color:rgb(142, 199, 248)"></span>                        
                          </button>
                          <div style="padding-top:0px">
                           <a class="navbar-brand" href="#">
                              <img width="150px" height="25px" src="internshala_logo.svg" alt="">
                          </a> 
                          </div>
                        </div>
                        
        
                        <div class="collapse navbar-collapse" id="myNavbar">
                          <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="Student-Signup.html"> Student </a></li>
                                  <li><a href="Employer-Signup.html"> Employer </a></li>
                              </ul>
                            </li>
        
                            <li><a class="popup-window" data-toggle="modal" data-target="#popupModal" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            <div class="modal" id="popupModal" tableindex="-1">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div clas="modal-header">
                                    <h4 class="modal-title">Sign In</h4>
                                  </div>
                                  
                                  <div class="modal-body">
                                    <form>
                                      <div class="form-group">
                                        <h5>Username</h5>
                                      <input type="email" name="inputEmail" placeholder="Email" class="form-control">
                                      <h5> Password </h5>
                                        <input type="password" name="inputPassword" placeholder="********" class="form-control">
                                      </div>
                                      <div class="form-group">
                                        <button class="btn btn-primary btn-group-justified"> Log In </button>
                                      </div>
                                    </form>
                                  </div>
                                      <div class="modal-footer">
                                        <span> Need an account? <a href="#"> Sign Up </a></span>
                                      </div>
                                      
                                    </form>
                                  </div>
                                </div>
                              </div>   
                            </div>
                          </ul>
                </div>
            </div> 
        </nav>
    </body>
</html>
