{% extends 'main/header.html' %}


{% block content %}
{% if user.is_employer %}
<div class="row">
<h1 style="text-align: center; color: cornflowerblue">Interns Applied for this company</h1><hr>
{% for i in intern %}
        
    <div class="row">
            <div class="col-sm-4"> 
                <div class="card bg-light mb-3 border-secondary mb-3" style="margin-top:40px">
                    <div class="card-body">
                    <h1 class="card-title" style="font-family: montserrat">{{i.intern_name}}</h1>
                    <h2 class="card-subtitle">{{i.username}}</h2>              
                    <p class="card-text">Applied for: {{i.job_title}}</p>
                    <!-- <p class="card-text">Details: {{product.job_content|safe}}</p> -->
                    <a href="/intern_detail/{{i.id}}" class="btn btn-primary">Details</a>
                    <!-- <a href="#" class="btn btn-default">Cancel</a> -->
                </div>
            </div>
    </div>
      
        
{% endfor %}

        {% elif user.is_student %}
        <h1 style="text-align: center;color: crimson">XX--You can't access this page--XX</h1>
        <h2 style="text-align:center">Click on <a style="color:crimson" href="/student_profile">this</a> to go to back to student's profile</h2>

        {% endif %}  



{% endblock %}
